
      .card{
        height: 330px; ;
        width: 210px;
border: 1px;
border-style: solid;
border-color: black;
border-radius: 24px;
background-color: rgb(206, 184, 195);
position: relative;
left:35%;

      }
      .image{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            position: relative;
            left: 58px;
            top:15px;
      }  
      .title{
            position: relative;
            top: 20%;
            right: 43%;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
           
      }
      .Detail{
           
             position: relative;
            top: 65px;
            right: 5%;
      }
      .title1{
            position: relative;
            top: 30%;
            right: 65%;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;

      }
      .Detail1{
              position: relative;
            top: 80px;
            left: 43%;

      }
      .title2{
             position: relative;
            top: 33%;
            right: 36%;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;

      }
      .Detail2{
  position: relative;
            top: 109px;
            right: 9%;
      }
      .title3{
            position: relative;
            top: 35%;
            left: 5%;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;

      }
      .Detail3{
             position: relative;
            top: 117px;
            left: 19%;

      }

      
        
    